.content{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 10px;
    background-color: burlywood;
}

.image{
    max-height: 400px;
    max-width: 300px;
    padding: 20px;    
}
.infosection{
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: center;
}