.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 700px;
  padding: 10px;
  background-color: #15e2d1;
}
#image {
  max-height: 400px;
  max-width: 300px;
  padding: 20px;
}
.infosection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
#stars {
  color: #b4b4b4;
  cursor: pointer;
  font-size: 42px;
  height: 40px;
}
#stars .filled {
  color: #f7bf08;
  font-size: 42px;
}
#stars .unfilled {
  font-size: 35px;
}
#stars .hover {
  color: #f7bf08;
  font-size: 45px;
}
