.content{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 10px;
    background-color: #15e2d1;
}

#image{
    max-height: 400px;
    max-width: 300px;
    padding: 20px;    
}
.infosection{
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: center;
}
#stars{
    display: flex;
    flex-direction: row; 
    color: rgb(180, 180, 180);    
    cursor: pointer;
    font-size: 150%;    
}
#stars .filled{
    color: rgb(247, 191, 8);
    font-size: 170%;
}
